---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const featuredProjects = await getCollection(
	"projects",
	(item) => item.data.featured,
);
---

<Layout>
	<Hero />

	<section class="section container">
		<h2 class="text-gradient">Featured Work</h2>
		<div class="projects-grid">
			{
				featuredProjects.map((project) => (
					<ProjectCard {...project.data} />
				))
			}
		</div>
		<div class="more-work">
			<a href="/projects" class="btn">View all projects &rarr;</a>
		</div>
	</section>
</Layout>

<style>
	.projects-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 2rem;
		margin-bottom: 3rem;
	}

	@media (max-width: 600px) {
		.projects-grid {
			grid-template-columns: 1fr;
		}
	}

	.more-work {
		text-align: center;
	}
</style>
